@font-face {
    font-family: neueSeriesS7-regular;
    src: url('../fonts/neueSerie57-Regular.otf');
}
@font-face {
    font-family: domaineText-regular;
    src: url('../fonts/DomaineText-Regular');
}
body{
    font-family: neueSeriesS7-regular;
    background-color: #f2ede8;
    margin: 0px;
    padding: 0px;
    width:100%;
}
* {
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
}
main{
    width: 100%;
}
.page-width{
    max-width: 1080px;
    margin: auto;
}
img {
  max-width: 100%;
  height: auto;
  width:100%;
}
.elite-partner-intro-image{
    text-align: center;
    padding: 26px;
}
.intro-screen{
    width: 100%;
}
.intro-screen .logo{
    width:100%;
    text-align: center;
    margin-bottom: 30px;
}
.intro-screen .beach-name{
    margin-bottom: 40px; 
    width: 100%;
    text-align: center;
}
.intro-screen .stroke{
    margin-bottom: 33px;
    text-align: center;

}
.intro-screen .stroke img{
    width: auto;
}
.intro-screen .main-section-image img{
    width:100%;
}
.logo-container{
    padding: 100px 60px 60px;
}
.main-section-image img{
    width: 100%;
    object-fit: cover;
}
.main-section-image p{
    font-family: neueSeriesS7-regular;
    text-align: center;
    font-size: 8px;
    font-weight: 450;
    line-height: 10px;
    letter-spacing: 1.6px;
    color: rgba(142, 128, 115, 0.50);
    margin-top:12px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.intro-screen .logo .logo-text{
    color: #35302A;
    line-height: 48px;
    letter-spacing: 11.2px;
    font-size: 56px;
    margin-top: 0px;
    margin-bottom: 112px;
    font-family: neueSeriesS7-regular;
    text-transform: uppercase;
}
.intro-screen .logo-container p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: domaineText-regular;
    text-align: center;
    margin-bottom: 17px;
    margin-top: 0px;
}
.content-container{
    padding: 50px 40px;
}
.content-container .app-heading{
    color: #35302A;
    font-size: 16px;
    font-weight: 450;
    line-height: 29px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0px;
}
.content-container .app-description{
    color: #35302A;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 21px;
    margin-top: 0px;
}
.text-on-image-without-fill,
.content-fill-image,
.text-on-img-top{
    position: relative;
}
.text-on-img-top .partner-image{
    position: absolute;
    z-index: 10;
    width: 100%;
    text-align: center;
    color: #35302A;
    top:79px;
    left:0px;
}
.text-on-img-top .partner-image img{
    width: auto;
}
.text-on-image-without-fill p{
    position: absolute;
    z-index: 10;
    bottom: 24px;
    right:20px;
    margin-bottom: 0px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 18px;
    font-weight: 450;
    line-height: 28px;
    letter-spacing: 3.6px;
}
.text-on-image-with-fill p{
    position: absolute;
    z-index: 10;
    bottom: 0px;
    right: 0px;
    margin-bottom: 10px;
    padding: 16px 32px 9px;
    border-radius: 30px 0px 0px 0px;
    background: #F2EDE8;
    color: #8E8073;
    text-align: right;
    font-size: 18px;
    font-weight: 450;
    line-height: 28px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    margin: 0px;
}
.reverse-container .content-container{
    padding-top: 0px;  
}
.reverse-container .image-wrapper{
    margin-bottom: 142px;
}
.list-content .app-description{
    margin-bottom: 20px;
}
.list-content ul{
    list-style: none;
    padding: 0px;
}
.list-content ul li{
    color: #35302A;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    padding-left: 40px;
}
.list-content ul li:before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 1px;
    background-color: #333;
}
.list-content ul li.long-content:before{
    top: 20px;
    transform: translateY(0);
}
.footer-logo{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}
.h3{
    color: #35302A;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    margin-top: 0px;
    margin-bottom:13px;
    font-family: domaineText-regular;
}
.mb-69{
    margin-bottom: 69px;
}
